<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>$$nrc Journal - $title$</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/highlight.css" />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  </head>
  <body>

  <!-- top nav -->
  <div class="navbar-fixed">
	<nav class="grey darken-2">
	  <div class="nav-wrapper container">
		<a href="/" class="brand-logo grey-text text-lighten-2" style="font-size: 1.5rem"><span>$$nrc</span> <span style="">Journal</span></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
		  <li><a class="grey-text text-lighten-2" href="archive.html">Archive</a></li>
		  <li><a class="grey-text text-lighten-2" href="about.html">About</a></li>
		  <li><a class="grey-text text-lighten-2" href="/rss.xml"><i class="material-icons">wifi_tethering</i></a></li>
		</ul>
	  </div>
	</nav>
  </div>

  <!-- main content -->
  <main>
    <div class="container">
      <h1 class="header grey-text text-darken-2">$title$</h1>
      <div class="divider"></div>
      <div class="col s12 mycontent">$body$</div>
    </div>
  </main>

  <!-- footer -->
  <footer class="page-footer grey darken-2">
    <div class="footer-copyright">
      <div class="container">
        <span>©2015 Nuno Carvalho, All rights reserved.</span>
        <span class="right">Powered by <a class="teal-text text-lighten-1" href="http://jaspervdj.be/hakyll">Hakyll</a> and <a class="teal-text text-lighten-1" href="http://materializecss.com">Materialize</a></span>
      </div>
    </div>
  </footer>

  <!-- javascripts -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
  <script src="/js/highlight.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  </body>
</html>
